{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Dictator</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
       <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
        
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body style='background-color:#000'><br><br>
        <div class='container'>
            <img src="{% static 'img/dic.jpg'%}"style='width:100%;height:500px;margin-bottom: 20px'>
            <
           <div class='offset-1 container'style='color:#fff'> <h1 >
                The Dictator
               </h1><br><h3>Genre :Comedy</h3>
               <h4>  The Dictator is a 2012 political satire comedy film co-written by and starring Sacha Baron Cohen as his fourth feature film in a leading role. The film is directed by Larry Charles, who previously directed Baron Cohen's mockumentaries Borat and Brüno. Baron Cohen, in the role of Admiral General Aladeen, the dictator of the fictional Republic of Wadiya visiting the United States, stars alongside Anna Faris, Ben Kingsley, Jason Mantzoukas, and an uncredited appearance by John C. Reilly.

Producers Jeff Schaffer and David Mandel said that Baron Cohen's character was inspired by real-life leaders considered dictators like Kim Jong-il, Idi Amin, Muammar Gaddafi, Mobutu Sese Seko and Saparmurat Niyazov.[5] The film's opening credits dedicate it to Kim Jong-il, "in loving memory".</h4><br><br>
           </div>
        </div>
    </body>
</html>
