{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Fantasy</title>
        
         <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
        
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            
            
            
            
             .bg{
                 
                 margin:15px;
                 color:#fff
                 
             }
            
                 
             
            </style>
        
        
        
    </head>
    
        <body style=" background: url({% static 'img/sas.jpg'%}) ;
     background-size: 100% 100%">
    
        
        
        <div style="margin-top:10px;" class='offset-10'>
            <div>
  <button type="button" class="btn btn-lg btn-dark">Login</button>
   <button type="button" class="btn btn-lg  btn-dark">Signup</button>
   
</div>
            
        </div>
   
        <br>
    <center> <div class='container'>
        <center> <p style="background-color: rgba(0, 0, 0, 0.5);color:#fff;font-size:60px;" class="bg">
           FANTASY!
            </p></div>
        
         <div style="margin:45px;" class="row">
        
  <div class="card bg" style="width:400px">
    <img class="card-img-top" src="{% static 'img/nar.jpg'%}" alt="Card image" style="width:100%">
    <div class="card-body" style="background-color:#000">
        <center>  <h1 class="card-title">NARUTO</h1></center>
      
    </div>
  </div>
        <div class="card bg" style="width:400px">
    <img class="card-img-top" src="{% static 'img/got.jpg'%}" alt="Card image" style="width:100%">
    <div class="card-body" style="background-color:#000">
        <center>     <h1 class="card-title ">Game of thrones</h1></center>
      
    </div>
  </div>
        <div class="card bg" style="width:400px">
    <img class="card-img-top" src="{% static 'img/pop.jpg'%}" alt="Card image" style="width:100%">
     <div class="card-body" style="background-color:#000">
         <center>  <h1 class="card-title ">Prince of Persia</h1></center>
      
    </div>
  </div>
    <div class="card bg " style="width:700px">
    <img class="card-img-top" src="{% static 'img/harr.jpg'%}" alt="Card image" style="width:100%">
     <div class="card-body" style="background-color:#000">
         <center>   <h1 class="card-title ">Harry Potter</h1></center>
      
    </div>
    </div><div class="col-5" style='padding-top:50px;'>
        <center> <p style="background-color: rgba(0, 0, 0, 0.5);color:#fff;font-size:80px;" >
        A place where imagination and reality meet!!!
            </p></center>
    </div>
    </div>
    
        
        
        
        
        
        
        
        
        
        
        
        
        
        </body>
</html>
