{% load static %}
    <!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Friends Season 3</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
        
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
    </head>
    <body style='background-color:#000'>
        <div ><br><br>
            <img src="{% static 'img/com.jpg'%}" style='width:100%;height:500px;margin-bottom: 20px'>
           <div class='offset-1 container'style='color:#fff'> <h1 >
                Friend's Season 3
               </h1><br><h3>Genre :Comedy</h3>
               <h4>  The third season of Friends, an American sitcom created by David Crane and Marta Kauffman, premiered on NBC on September 19, 1996. Friends was produced by Bright/Kauffman/Crane Productions, in association with Warner Bros. Television. The season contains 25 episodes and concluded airing on May 15, 1997.
               </h4><br><br>
           </div>
        </div>
    </body>
</html>
