{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>GOT season 4</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
        
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
    </head>
    <body style='background-color:#000'><br><br>
        <div>
            <img src="{% static 'img/got.jpg'%}" style='width:100%;height:500px;margin-bottom: 20px'>
            
           <div class='offset-1 container' style='color:#fff'> <h1 >
             Game of Thrones Season 4
               </h1><br><h3>Genre : FANTASY</h3>
               <h4> The story takes place in a fictional world, primarily upon a continent called Westeros, with one storyline occurring on another continent to the east known as Essos. Like the novel and previous seasons, the fourth season mainly centres around the war of the five kings; after the death of Robb Stark at The Red Wedding, all three remaining kings in Westeros believe they have a claim to the Iron Throne. Meanwhile, at the wall, Jon Snow and the Night's Watch get ready for the battle against the free folk.
               </h4></div>  </div></body>
</html>
