{% load static %}
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Sherlock Season 2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{% static 'bootstrap/js/jquery-3.4.1.min.js' %} "></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %} "></script>
        
    
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %} " type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        
    </head>
    <body style='background-color:#000'><br><br>
        <div class='container'>
            <img src="{% static 'img/sher.jpg'%}" style='width:100%;height:500px;margin-bottom: 20px'>
            
           <div class='offset-1 container' style='color:#fff'> <h1 >
                Sherlock Season 2
               </h1><br><h3>Genre : Mystery</h3>
               <h4> Sherlock must confiscate something of importance from a mysterious woman named Irene Adler. Sherlock and John investigate the ghosts of a young man who has been seeing monstrous hounds out in the woods where his father died. </div>
        </div>
    </body>
</html>
